@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot') format('eot'),
         url('../fonts/vazir.ttf')  format('truetype'),
         url('../fonts/vazir.woff') format('woff2'),
         url('../fonts/vazir.woff2') format('woff');
    
  }

  body{
      direction: rtl;
      font-family: 'vazir';
  }

  .container{
      width: 1400px;
      margin: auto;
  }
  .row{
      display: flex;
  }

  /* header-top */

  #header-top{
      width: 100%;
      background-color: #252525;
      height: 3vh;
      display: flex;
  }

  #header-top .header-top-message{
      width: 50%;
      display: flex;
      color: #fff;
      align-items: center;
  }

  #header-top .header-top-social{
      display: flex;
      width: 50%;
      justify-content: flex-end;
  }

  #header-top .header-top-social ul{
      width: 20%;
      display: flex;
      justify-content: flex-end;
      height: 100%;
      align-items: center;
  }

  #header-top .header-top-social ul li{
      width: 25%;
      text-align: left;
      margin: 0 5px;
  }

  #header-top .header-top-social ul li a{
      color: #fff;
      font-size: 20px;
  }